{% comment %}
  Section: Announcement Bar
  Info: Displays announcement bar with up to 12 different announcements
  Script: src/AnnouncementBar.js
{% endcomment %}

<div
  x-data="AnnouncementBar"
  class="bg-primary text-white flex items-center justify-between"
>
  <button class="pl-2" x-on:click="previousAnnouncement">{% render 'icon-chevron-left' %}</button>

  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'announcement' %}
        {% if block.settings.announcement_text != blank %}
          <div
            id="announcement"
            x-show="current === {{ forloop.index0 }}"
            class="
               uppercase text-xs tracking-widest text-center px-4 py-3
                   {% if block.settings.announcement_text_bold == true %}
                  font-bold
                {% endif %}
                {% if block.settings.announcement_text_underline == true %}
                underline
              {% endif %}
            "
          >
            {% if block.settings.announcement_link != blank %}
              <a href="{{ block.settings.announcement_link }}">{{ block.settings.announcement_text }}</a>
            {% else %}
              <p>{{ block.settings.announcement_text }}</p>
            {% endif %}
          </div>
        {% endif %}
    {% endcase %}
  {%- endfor -%}
  <button class="pr-2" x-on:click="nextAnnouncement">{% render 'icon-chevron-right' %}</button>
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:settings_schema.sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "announcement_text",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "announcement_text_bold",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.announcement_text_bold.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "announcement_text_underline",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.announcement_text_underline.label",
          "default": false
        },
        {
          "type": "url",
          "id": "announcement_link",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ]
}
{% endschema %}
