{% comment %}
  Announcement Bar
  The text's appearance may be customized based on settings:
    - `announcement_text_bold`: Determines if the text should be bold.
    - `announcement_text_underline`: Determines if the text should be underlined.
  - If `block.settings.announcement_link` is not empty, the text is wrapped in an anchor`<a>` element with the link.
  - Else text wrapped in a paragraph `<p>` element.
{% endcomment %}

{%- for block in section.blocks -%}
  {% case block.type %}
    {% when 'announcement' %}
      <div
        x-data="AnnouncementBar"
        id="announcement"
        class="bg-primary text-white  items-center justify-center hidden"
      >
        {% if block.settings.announcement_text != blank %}
          <div
            class="
               uppercase text-xs tracking-widest text-center px-4 py-3
                   {% if block.settings.announcement_text_bold == true %}
                  font-bold
                {% endif %}
                {% if block.settings.announcement_text_underline == true %}
                underline
              {% endif %}
            "
          >
            {% if block.settings.announcement_link != blank %}
              <a href="{{ block.settings.announcement_link }}">{{ block.settings.announcement_text }}</a>
            {% else %}
              <p>{{ block.settings.announcement_text }}</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
  {% endcase %}
{%- endfor -%}

{% schema %}
{
  "name": "t:settings_schema.sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:settings_schema.sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "announcement_text",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "announcement_text_bold",
          "label": "Make the nnouncement text bold",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "announcement_text_underline",
          "label": "Add an underline to the Accouncement text",
          "default": false
        },
        {
          "type": "url",
          "id": "announcement_link",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ]
}
{% endschema %}
