<footer class="p-5 items-center justify-between">
  {% comment %} Main Footer Block {% endcomment %}
  <div class="flex flex-row justify-between">
    {% comment %} Newsletter {% endcomment %}
    <div>Logo</div>

    {% comment %} Navigation Items {% endcomment %}
    <nav>
      <ul>
        <li>Footer item</li>
      </ul>
    </nav>
  </div>

  {% comment %} Additional Footer Content {% endcomment %}
  <div>
    {% comment %} Payment and Socials {% endcomment %}
    <div>Payment & socials</div>

    {% comment %} Copyright {% endcomment %}
    <div>Copy</div>
  </div>
</footer>