<header id="header">
  {% render 'navigation-logo' %}

  {% render 'navigation-account' %}

  {% render 'navigation-search' %}

  {% comment %} Navigation {% endcomment %}
  <nav role="navigation">
    {% for link in section.settings.menu.links %}
      {% if link.links != blank %}
        {% for childlink in link.links %}
          <a href="{{ childlink.url }}">{{ childlink.title }}</a>
        {% endfor %}
      {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</header>

{% schema %}
{
  "name": "t:settings_schema.sections.header.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Heading Navigation Menu"
    },
    {
      "type": "select",
      "id": "header_nav_type",
      "label": "Select the type of navigation to display",
      "default": "megamenu",
      "info": "Toggle between megamenu and burger menu",
      "options": [
        {
          "value": "megamenu",
          "label": "Mega Menu"
        },
        {
          "value": "burger menu",
          "label": "Burger Menu"
        }
      ]
    }
  ]
}
{% endschema %}
