@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #09bc8a;
  --secondary-bg: #333;
}

/* Header */
.header {
  background: var(--primary-bg);

  a {
    color: var(--secondary-bg);
  }
}

.suggested-menu-items {
  color: var(--secondary-bg);
}

/* Icons */
svg {
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
}
