@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #09bc8a;
  --secondary-bg: #333;
}

/* Header & Footer */
header,
footer {
  background: var(--primary-bg);

  * {
    color: var(--secondary-bg);
  }
}

/* Header Menu */
.suggested-menu-items {
  color: var(--secondary-bg);
}

/* Footer MEnu*/

/* Icons */
svg {
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
}
